

@font-face{
	font-family: Cabin Regular;
	src:url(fonts/cabin.regular.ttf);
	font-weight: normal;
	font-style: normal;
}

header{
	padding-bottom: 100px;
	font-family: 'Cabin Regular';
	color: #fff;
	background: url(../photos/hero.JPG) no-repeat;
	text-align: center;/*выравнивает строчные элементы по горизонтали*/
	background-size: 100%; /*что бы картинка заняла всю ширину экрана*/
}

a, a:visited{
	text-decoration: none !important;
	color: #fff !important;
}

header img{
	margin-top: 60px;
}

header ul{
	margin-top: 60px;
}

header ul li{
	display: inline;
    margin: 30px;
}

h1{
	font-size: 60pt;
    margin-top: 80px;
    text-transform: uppercase;
}

h2{
	margin-top: 40px;
	font-size: 15pt;
	text-transform: uppercase;
}

body>div{
	padding: 150px 0;

}

h3{
	padding-bottom: 15px;
	margin-top: 30px;
	font-size: 15pt;
	text-transform: uppercase;
}

p{
	color: grey;
	line-height: 30px;
}

hr{
	margin:1em auto; 
	border:none; 
	height:1px; 
	background:#ccc;
}

ul li{
	display: inline;
}

.row{
	margin-right:0;
	margin-left:0;
}

.button{
	display: inline-block;/*принимает свойства и строчного и блочного элемента*/
    background-color: #4FC3AE;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    text-transform:uppercase;
    margin-top: 60px;
    padding: 15px 35px;
}

#menu_stripes{
	display: none;
}

#first{
	background-color: #EEEEF0;
}


#first div{
	width: 200px;
	height: 300px;
	text-align:center;
}

#first div p{
	padding: 0 30%;
}

#first hr{
	width: 50%;
}

#second div{
	
	padding: 8%;
	
}

#second a{
	padding: 10px 20px;
	text-transform: none;
	margin-top: 25px;
}

#second img{
	width: 95%;
}

#second p{
	
	line-height: 30px;
}

#second h3{
	padding-top: 20px;
}


#third{
	background-color: #EEEEF0;
}

#third div{
	width: 75%;
}

#third p{
	padding: 40px 40px 0 0;
}

#third .button{
	padding: 10px 20px;
	text-transform: none;
	margin-top: 25px;
	background-color: #d2d5da;
}

#third img{
	width: 3%;
	margin-right:7px;
}


#fourth div{
	padding-left: 3%;
	margin-bottom:30px;
}

#fourth div img{
	width: 90%;
}

#fourth div p{
	margin-bottom: 15px;
	padding-right: 40%;
}

#fourth div a{
	color: #4FC3AE !important;
}

#fourth div hr{
	width: 95%;
	margin: 0 0 15px 0;
}

#fifth{
	background-color: #EEEEF0;
}

#fifth div{
	padding: 7%;
}

#fifth a{
	background-color: #4FC3AE;
}

#fifth .button{
	margin-top:10px;
}

#fifth img{
	width: 7%;
	margin-right:7px;
}

#sixth div{
	padding: 3%;
}

#sixth img{
	
	width: 90%;
}


#sixth a{
	background-color: #d2d5da;
	text-transform: none;
	
	margin-top:20px;
	padding: 10px 20px;
}

#seventh {
	display: block;
	background-color: #4FC3AE;
}
#seventh  div {
	text-align: center;
	padding-top: 40px;
}
#seventh  hr {
	width: 45%;
	background:#fff;
}
#seventh h3 {
		color: #fff;
}

.star{
	width: 4%;
}

.logo {
	width: 200px;
}

footer{
	height: 20px;
	display: flex;
	align-items: center;
}

footer div{
	width: 80%;
	height: 30px;
}

footer p{
	text-align: left;
}

footer img{
	width: 5%;
	text-align: right;
	margin-left: 20px;
}


